@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root{
    --blue-font: #0b93e4;
    --white-font: white;
    --skyblue-bg: #bce6ff;
    --skyblue-font: #55c7f0;
    --blue-card: #0182d2;
}

body::before{
    content: "";
    background: url('./Images/1125d521002afa494cc684eab5b57fff.jpg') no-repeat center center/cover;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

/* REGION INPUTS */
.form{
    display: grid;
    background-color: var(--skyblue-bg);
    box-shadow: 20px 20px 10px rgba(43, 43, 43, 0.658);
    border-radius: 10px;
    position: absolute;
    top: 38%;
    left: 5%;
    transform: translateY(-50%);
    padding: 20px;
    width: 20vw;
    height: max-content;
}

.form label{
    color: var(--blue-font);
    display: block;
    font-size: 1.4rem;
}

.form input{
    border: 1px solid var(--blue-font);
    border-radius: 5px;
    opacity: 0.5;
    outline: none;
    margin: 5px 0 30px;
    padding: 5px;
    width: 100%;
}

.form button{
    cursor: pointer;
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    border: none; 
    border-radius: 5px;
    color: var(--white-font);
    background-color: var(--blue-card);
}

/* DASHBOARD -------------------------*/
.dashboard{
    box-shadow: 20px 20px 10px rgba(43, 43, 43, 0.658);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 60vw;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}


/* CURRENT INFORMATION DISPLAY ----------------*/
.current-info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--skyblue-bg);
    border-radius: 10px 0 0 10px;
}


/* header information ------------------- */
.top .city-name{
    color: var(--white-font);
}
.top .date-time{
    font-size: 1.2rem;
    color: var(--blue-font);
}

/* weather information ----------------------- */
.current-display{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 10px;
}

/* weather card ---------------------- */
.content{
    padding: 1rem;
    background-color: var(--blue-card);
    color: var(--white-font);
    border-radius: 5px;
    display: grid;
    height: fit-content;
    grid-template-rows: repeat(4, 1fr);
    place-items: center;
}
.content .temperature{
    font-size: 2rem;
}
.content img{
    width: 4rem;
    height: 4rem;
}

.extras{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.last-updated{
    font-size: 0.6rem;
}

/* sub(side) information ------------- */
.sub-content{
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.box{
    border-radius: 5px;
    background-color: var(--blue-font);
    width: 90px;
    padding: 10px;
    display: grid;
    place-items: center;
    opacity: 0.4;
}

.box .material-icons{
    filter: invert(1);
    font-size: 30px;
}

.box .text{
    color: var(--white-font);
    font-size: 13px;
}


/* FORECAST SECTION */
.forecast{
    padding: 20px;
    background-color: var(--white-font);
    border-radius: 0px 10px 10px 0px;
    opacity: 0.8;
}

.forecast h2{
    color: var(--blue-font);
}

.forecast-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    background-color: var(--skyblue-font);
    color: var(--white-font);
    border-radius: 10px;
    margin: 5px 0;
    height: 30%;
    width: 100%;
}

.forecast-box div{
    grid-column: 2 / 5;
}

.forecast-box p{
    margin-top: 5px;
}

/* RESPONSIVE DESIGNING */

/* tablet version */
@media (max-width: 945px){
    body::before{
        height: 210vh;
    }

    .form{
        grid-template-columns: 70% 30%;
        width: 70vw;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        column-gap: 10px;
    }
    .form label{
        grid-column: 1 / 3;
    }
    .form input, .form button{
        margin: 0;
    }

    .dashboard{
        top: 120%;
        left: 50%;
        width: 70vw;
        grid-template-columns: auto;
        grid-template-rows: max-content auto;
    }

    .current-info{
        border-radius: 10px 10px 0 0;
    }

    .forecast{
        border-radius: 0 0 10px 10px;
    }

    .current-display{
        gap: 10px;
        grid-template-columns: auto;
    }

    .content{
        grid-template-rows: repeat(4, 1fr);
    }

    .sub-content{
        flex-direction: row;
        justify-content: space-around;
    }

    .box{
        width: 33%;
        height: 100px;
    }
}

/* mobile version */
@media (max-width: 455px) {
    .form{
        width: 90vw;
    }

    .dashboard{
        width: 90vw;
    }
}

@media (max-width: 375px) {
    body::before{
        height: 250vh;
    }

    .dashboard{
        top: 140%;
    }

    .sub-content{
        flex-direction: column;
    }

    .box{
        width: 100%;
    }
}